[Unit]
Description=Metar Map Web Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/metar_map/server
ExecStart=node index
Restart=on-failure
Environment=METAR_MAP_ENV=production

[Install]
WantedBy=multi-user.target
