[Unit]
Description=Metar Map Mothership Web Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/metar_map/mothership
ExecStart=/usr/bin/node index.js
Restart=on-failure
Environment=METAR_MAP_ENV=production

[Install]
WantedBy=multi-user.target
